<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">
<head>
  <title>Register</title>
</head>
<body>
<main layout:fragment="content">
  <form th:action="@{/login}" method="post" th:object="${user}">
    <br/>
    <h5 class="blue-text text-darken-2 center-align">Register</h5>
    <div class="row">
      <div class="input-field col s12 m8 offset-m2">
        <input type="text" th:field/>
        <label>Username</label>
      </div>
    </div>
  </form>
</main>
</body>
</html>