<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">
<head>
  <title>Register</title>
</head>
<body>
<main layout:fragment="content">
  <form th:action="@{/register}" method="post" th:object="${user}">
    <br/>
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <h5 class="blue-text text-darken-2 center-align">Register</h5>
        <div class="row">
          <div class="input-field">
            <input type="text" id="username" name="username"/>
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input type="password" id="password" name="password"/>
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input type="text" id="firstName" name="firstName"/>
            <label for="firstName">First name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input type="text" id="lastName" name="lastName"/>
            <label for="lastName">Last name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input type="email" id="email" name="email"/>
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="center-align">
            <button type="submit" class="btn waves-effect waves-light">
              Save
              <i class="material-icons right">save</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>
</body>
</html>