<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8"/>
  <title>Main</title>
  <link type="text/css" rel="stylesheet" href="/public/css/icon.css" th:href="@{/public/css/icon.css}"/>
  <link type="text/css" rel="stylesheet" href="/public/css/materialize.min.css"
        th:href="@{/public/css/materialize.min.css}" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/public/css/freedom.css" th:href="@{/public/css/freedom.css}"/>
  <link type="text/css" rel="stylesheet" href="/public/css/sweetalert2.min.css"
        th:href="@{/public/css/sweetalert2.min.css}"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="/public/js/jquery-2.2.3.min.js" th:src="@{/public/js/jquery-2.2.3.min.js}"></script>
  <script src="/public/js/materialize.min.js" th:src="@{/public/js/materialize.min.js}"></script>
  <script src="/public/js/sweetalert2.min.js" th:src="@{/public/js/sweetalert2.min.js}"></script>
</head>
<body>
<header>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/admin/posts/">Post</a></li>
    <li><a href="/admin/users/">User</a></li>
  </ul>
  <nav class="blue darken-3">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo"><i class="material-icons right">home</i></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li sec:authorize="isAuthenticated()" class="active"><a href="" sec:authentication="name"></a></li>
        <li sec:authorize="isAuthenticated()">
          <a class="dropdown-button" data-activates="dropdown1" sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/">
            Admin
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <li sec:authorize="isAuthenticated()"><a href="/posts/list/">Posts</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/authors/list/">Author</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/rests/">Rest</a></li>
        <li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
        <li>
          <form sec:authorize="isAuthenticated()" name="form" th:action="@{/logout}" method="post" class="form-inline">
            <a href="javascript:;" onclick="document.getElementsByName('form')[0].submit();">Logout</a>
          </form>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li sec:authorize="isAuthenticated()" class="active"><a href="" sec:authentication="name"></a></li>
        <li sec:authorize="isAuthenticated()"><a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin/">Admin</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/posts/">Posts</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/authors/">Author</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/rests/">Rest</a></li>
        <li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
        <li>
          <form sec:authorize="isAuthenticated()" name="form" th:action="@{/logout}" method="post" class="form-inline">
            <a href="javascript:;" onclick="document.getElementsByName('form')[1].submit();">Logout</a>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main layout:fragment="content" class="container">

</main>

<!--<footer class="card-panel white-text blue darken-2" style="margin: 0; padding: 5px;">
  <span th:text="'&copy; ' + ${#calendars.createNow().getWeekYear()} + ' Nut Freedom'"></span>
</footer>-->

<script>
  $(function () {
    $(".button-collapse").sideNav();
  });
</script>
</body>
</html>