<html lang="en"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main">
<head>
  <title>Edit</title>
  <link type="text/css" rel="stylesheet" href="/public/css/sweetalert2.min.css"
        th:href="@{/public/css/sweetalert2.min.css}"/>
  <script th:src="@{/public/js/sweetalert2.min.js}" src="/public/js/sweetalert2.min.js" ></script>
</head>
<body>
<main layout:fragment="content">
  <form th:action="@{/admin/users/edit}" id="formValidate" th:object="${user}" method="post">
    <br/>
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <h5 class="blue-text text-darken-2 center-align">Edit User</h5>
        <div class="row">
          <div class="input-field">
            <input type="text" th:field="*{username}"/>
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input type="password" th:field="*{password}"/>
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input type="password" id="password_confirm" name="password_confirm"/>
            <label for="password_confirm">Confirm Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input type="text" th:field="*{firstName}"/>
            <label for="firstName">First name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input type="text" th:field="*{lastName}"/>
            <label for="lastName">Last name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input type="email" th:field="*{email}"/>
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-filed">
            <label for="roles">Roles</label>
            <select th:field="*{roles}">
              <option th:each="roles: ${ros}" th:value="${roles}" th:text="${roles.name}"></option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="center-align">
            <a th:href="|@{../../../admin/users}|" class="btn waves-effect waves-light">
              Back
              <i class="material-icons left">undo</i>
            </a>
            <button type="submit" class="btn waves-effect waves-light">
              Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <span th:if="${message}">
      <script th:inline="javascript">
        /*<![CDATA[*/
        var message = [[${message}]];
        var result = [[${messageResult}]]
        /*]]>*/
        swal(
          message,
          '',
          result
        );
      </script>
    </span>
  </form>

  <script th:src="|@{/public/js/jquery.validate.min.js}|" src="/js/jquery.validate.min.js"></script>
  <script>
    $('#formValidate').validate({
      rules: {
        username: {
          required: true,
          minlength: 5
        },
        firstName: "required",
        lastName: "required",
        email: {
          required: true,
          email: true
        }
      },
      messages: {
        username: {
          minlength: "Enter at least 5 characters",
          remote: "Username is duplicate"
        },
        password: {
          minlength: "Enter at least 8 characters"
        },
        password_confirm: {
          equalTo: "Enter the same password as above"
        }
      },
      errorElement: 'div',
      errorPlacement: function(error, element) {
        var placement = $(element).data('error');
        if (placement) {
          $(placement).append(error)
        } else {
          error.insertAfter(element);
        }
      }
    });

    $(function() {
      $('select').material_select();
    });
  </script>
</main>
</body>
</html>